@use "sass:color";
@use "../base/variables" as var;
@use "../base/mixins" as mix;
@use "../layout/containers";
@use "../layout/intro";
@use "sass:map";

.contact-agent-container {
  @extend .container;
}

.contact-agent-header {
  @extend .intro;
}

.contact-agent-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: map.get(var.$spacing-scale, "4");
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 map.get(var.$spacing-scale, "2");
  
  > * {
    min-width: 0;
    height: 100%;
  }

  @include mix.respond-to(var.$tablet) {
    grid-template-columns: 1fr;
  }
}

.contact-form {
  background-color: var.$card-bg-color;
  border-radius: var.$border-radius;
  box-shadow: var.$box-shadow;
  padding: map.get(var.$spacing-scale, "2");
  display: flex;
  flex-direction: column;
  gap: map.get(var.$spacing-scale, "1");
  height: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: map.get(var.$spacing-scale, "05");

  label {
    font-weight: bold;
    color: var.$text-color;
  }

  input,
  textarea {
    padding: map.get(var.$spacing-scale, "075");
    border-radius: var.$border-radius;
    border: 1px solid #fff;
    font-size: map.get(var.$spacing-scale, "1");
    width: 100%;
  }
}

.form-actions {
  display: flex;
  justify-content: space-between;

  .btn {
    padding: map.get(var.$spacing-scale, "075")
      map.get(var.$spacing-scale, "15");
    border-radius: var.$border-radius;
    border: none;
    cursor: pointer;
    font-size: map.get(var.$spacing-scale, "1");
    font-weight: 600;

    @include mix.transition-all;
  }

  .btn-primary {
    background-color: var.$primary-color;
    color: var.$text-color;

    &:hover {
      background-color: var.$btn-hover-color;
    }
  }

  .btn-secondary {
    background-color: var.$secondary-color;
    color: var.$text-color;

    &:hover {
      background-color: var.$btn-hover-color;
    }
  }
}

.agent-card {
  @extend .contact-form;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.agent-card-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto var.$spacing-unit;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.agent-card h3 {
  font-size: map.get(var.$spacing-scale, "15");
  color: var.$text-color;
}

.agent-card-title {
  font-size: map.get(var.$spacing-scale, "1");
  color: var.$secondary-color;
  margin-bottom: var.$spacing-unit;
}

.agent-card-contact-details {
  display: flex;
  flex-direction: column;
  gap: map.get(var.$spacing-scale, "05");
  color: var.$text-color;
  font-size: map.get(var.$spacing-scale, "1");
}

.agent-card-socials {
  display: flex;
  justify-content: center;
  gap: map.get(var.$spacing-scale, "1");
  margin-top: var.$spacing-unit;
}

.social-icon {
  font-size: map.get(var.$spacing-scale, "15");
  color: var.$primary-color;
  transition: color var.$transition-medium ease;
}

.social-icon:hover {
  color: var.$btn-hover-color;
}
